<nav class="navbar navbar-expand-sm navbar-dark bg-dark">
    <div class="container-fluid">
        <a class="navbar-brand" href="/"><img class="rounded-circle" style="width: 80px"
                                              src="/static/Image/logo.png"></a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#mynavbar">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="mynavbar">
            <ul class="navbar-nav me-auto">

                {% for c in typeofrooms %}
                <li class="nav-item">
                    <a class="nav-link" href="/?cate_id={{c.id}}">{{ c.name }}</a>
                </li>
                {% endfor %}

                <li class="nav-item">
                    <a class="nav-link text-danger" href="/cart">&#128722; <span class="badge bg-danger cart-counter"></span></a>
                </li>

            </ul>
            <form class="d-flex">
                <input class="form-control me-3" style="width: 400px" type="text" name="kw" placeholder="Search">
                <button class="btn btn-primary" type="submit">Search</button>
            </form>
        </div>
    </div>
</nav>