{% extends 'layout/base.html' %}

{% block title %}Trang chủ{% endblock %}

{% block content %}
<section class="container">
    <div class="row">
        {% for r in rooms %}
        <div class="col-xs-12 col-md-3" style="padding: 5px;">
            <div class="card">
                <img class="card-img-top mt-1" src="{{ r.image_room }}" alt="Rooms image">
                <div class="card-body">
                    <h4 class="card-title">{{ r.name }}</h4>
                    <p class="card-text">{{ "{:,.0f}".format(r.price) }} VNĐ</p>
                    <!--                {% if r.active %}-->
                    <!--                <p class="card-text text-info"><img class="rounded text-danger" style="width: 39px"-->
                    <!--                                                    src="https://res.cloudinary.com/dchyeg7pv/image/upload/v1704728053/rooms-available_jll43o.png">-->
                    <!--                    Phòng còn trống-->
                    <!--                </p>-->
                    <!--                {% else %}-->
                    <!--                <p class="card-text text-danger"><img class="rounded" style="width: 50px"-->
                    <!--                                                      src="https://res.cloudinary.com/dchyeg7pv/image/upload/v1704728052/rooms-not-available_oy8nnv.jpg">-->
                    <!--                    Hết Phòng-->
                    <!--                </p>-->
                    <!--                {% endif %}-->
                    <a href="/rooms/{{r.id}}" class="btn btn-primary">Xem chi tiết</a>
                    <a href="javascript:;" class="btn btn-danger">Đặt phòng</a>
                </div>
            </div>
        </div>
        {% endfor %}
    </div>
    <ul class="pagination mt-1">
        {% for i in range(pages) %}
        <li class="page-item"><a class="page-link" href="/?page={{ i + 1 }}">{{ i + 1 }}</a></li>
        {% endfor %}
    </ul>
</section>
{% endblock %}